<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="oeco-header oeco-container row">
    <div class="small-12 medium-6 columns">
      <%= link_to root_path do %>
        <%= image_tag 'oeco.jpg', :size => '280x130', :alt => 'oeco architectes' %>
      <% end %>
    </div>

    <nav class="oeco-nav small-12 medium-6 columns end">
      <ul class="no-bullet">
        <li><%= active_link_to 'Projets', projects_path, :active => :inclusive %></li>
        <li><%= active_link_to 'Agence', agency_path, :active => :inclusive %></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="oeco-content oeco-container small-12 medium-12 columns">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
